adbc_driver_manager==0.11.0
adbc_driver_postgresql==0.11.0
adbc_driver_sqlite==0.11.0
altair_saver==0.5.0
anywidget==0.9.7
AppKit==0.2.8
apsw==3.45.3.0
atheris==2.3.0
BeautifulSoup==3.2.2
bokeh==2.4.2
boto3==1.21.32
botocore==1.24.32
brotlicffi==1.1.0.0
brotlipy==0.7.0
cairocffi==1.6.1
Carbon==1.1.10
cchardet==2.1.7
chart_studio==1.1.0
ConfigParser==7.0.0
cryptography==3.4.8
ctypes_snappy==1.03
Cython==0.29.28
cytoolz==0.11.0
defcon==0.10.3
defusedxml==0.7.1
disco==1.40.4
dl==0.1.0
docutils==0.17.1
docutils==0.17.1
fastparquet==2024.2.0
Flask==1.1.2
Foundation==0.1.0a0.dev1
fqdn==1.5.1
freetype_py==2.4.0
fsspec==2023.12.2
gevent==24.2.1
gitdb_speedups==0.1.0
glyphsLib==6.7.0
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.100.1
importlib_metadata==4.11.3
ipykernel==6.9.1
ipython==8.12.3
ipywidgets==7.6.5
isoduration==20.11.0
jaraco.util==15.0.0
jnius==1.1.0
JPype1==1.5.0
jsonpointer==2.4
keyring==23.4.0
lockfile==0.12.2
lxml_html_clean==0.1.1
lz4==4.3.3
mariadb==1.1.10
mtrand==0.1
munkres==1.1.4
mypy==1.9.0
MySQL-python==1.2.5
mysql_connector_repackaged==0.3.1
numarray==1.5.1
Numeric==24.2
numexpr==2.8.1
odfpy==1.4.1
olefile==0.46
openpyxl==3.0.10
ordereddict==1.1
orjson==3.10.1
pandas_datareader==0.10.0
pickle5==0.0.12
pkgutil_resolve_name==1.3.10
psutil==5.8.0
psycopg==3.1.18
psycopg2==2.9.9
psycopg2cffi==2.9.0
pycares==4.4.0
pycurl==7.45.3
pydantic==2.7.0
PyInstaller==6.6.0
pymysql==1.1.0
pyodide==0.0.2
pyOpenSSL==21.0.0
pyOpenSSL==24.1.0
pyperf==2.6.3
PyQt4==4.11.4
PyQt5==5.15.10
PyQt6==6.6.1
PySide2==5.15.2.1
PySide6==6.7.0
pysqlcipher==2.6.10
pysqlcipher3==1.2.0
pysqlite==2.8.3
pysqlite3==0.5.2
pytest==7.1.1
python_calamine==0.2.0
pyxlsb==1.0.10
PyYAML==6.0
PyYAML==6.0.1
QtPy==2.0.1
Quartz==0.0.1.dev0
railroad==0.5.0
reportlab==4.2.0
requests_cache==1.2.0
Res==0.1.7
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rfc3987==1.3.8
s3fs==2024.3.1
scikit_image==0.19.2
scikit_learn==1.1.3
scikit_learn==1.1.1
scipy==1.7.3
selenium==4.19.0
sets==0.3.2
setuptools_scm==8.0.4
shiboken2==5.15.2.1
shiboken6==6.7.0
simplejson==3.19.2
sip==6.8.3
slack_sdk==3.27.1
snowflake==0.7.0
Sphinx==4.4.0
SQLAlchemy==1.4.32
sqlcipher3==0.5.2
statsmodels==0.13.2
sympy==1.10.1
testbench==0.1.2
thread==1.1.1
threadpoolctl==3.4.0
traitlets==5.14.2
ufoLib2==0.16.0
uharfbuzz==0.39.1
ujson==5.1.0
unicodedata2==15.1.0
uri_template==1.3.0
vegafusion==1.6.7
vincent==0.4.4
watchdog==2.1.6
webcolors==1.13
xarray==0.20.1
xattr==1.1.0
xlrd==2.0.1
XlsxWriter==3.0.3
xmlrpclib==1.0.1
zopfli==0.2.3
zstandard==0.22.0
